QWEN_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
QWEN_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
QWEN_MODEL=qwen-max-2025-01-25

TABLESTORE_ENDPOINT=https://<instance-name>.<region>.ots.aliyuncs.com
TABLESTORE_INSTANCE=<instance-name>
TABLESTORE_ACCESS_KEY_ID=<access-key-id>
TABLESTORE_ACCESS_KEY_SECRET=<access-key-secret>

FC_SERVER_PORT=9000
